# Credenciales para Twilio (WhatsApp)
TWILIO_ACCOUNT_SID=tu_account_sid_aqui
TWILIO_AUTH_TOKEN=tu_auth_token_aqui
TWILIO_WHATSAPP_NUMBER=+14155238886

# Credenciales para Gmail (Nodemailer)
# REQUERIDO: Usa una "Contraseña de aplicación", no tu clave normal.
GMAIL_USER=navasmaquinas@gmail.com
GMAIL_APP_PASSWORD=tu_contraseña_de_aplicación_aqui
